@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/******************* reset *******************/

/******************* shadcn *******************/
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 1rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  }
}
/******************* shadcn *******************/

:root {
  --root-font-size: 16;
  --text-color: #8c6954;
  /* --text-color-rgb: 118, 103, 101; */
  /* --border-color: #aad6f9; */
  --main-color: #7aa855;
  --main-color_2: #557540;
  /* --header-footer-color-rgba: 191, 240, 246, 0.2; */
  --accent-color: #f57e47;
  --main-bg-color: #fff;
  --bg-color-green: #f0f7eb;
  --bg-color-orange: #f9f1ed;
  --bg-color-button: #f4f0ec;
  --bg-color-v: #b2deb9;
  --bg-color-ori: #f5cadf;
  --bg-color-ovo: #e8e5ae;
  --bg-color-psc: #bbe5ef;
  --bg-color-lct: #f8f8f1;
  --bg-color-psc: #bbe5ef;
  --bg-color-pol: #ebc4a7;
  --bg-color-flu: #d0b9f6;
  --bg-color-oth: #d0b9f6;
  --border-color-vegetag: #d1d1d1;
  --border-color-button: #ccb9ae;
}

body {
  margin: 0 auto;
  font-size: var(--root-font-size);
  /* font-family: var(--system-text-en); */
  background-color: var(--main-bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

main {
  max-width: 1240px;
  margin: 0 auto;
  min-height: 83vh;
}

main.create {
  min-height: 83vh;
  height: 83vh;
}

h2 {
  font-size: calc(20 / var(--root-font-size) * 1rem);
}

h3 {
  font-size: calc(16 / var(--root-font-size) * 1rem);
}

.bg-green {
  background: var(--bg-color-green);
}
.bg-orange {
  background: var(--bg-color-orange);
}

.bg-button {
  background: var(--bg-color-button);
}

.border-button-color {
  border: 1px solid var(--border-color-button);
}

.bg-color-v {
  background: var(--bg-color-v);
}
.bg-color-v-50 {
  background: #b2deb980;
}

.bg-color-ori {
  background: var(--bg-color-ori);
}

.bg-color-ovo {
  background: var(--bg-color-ovo);
}

.bg-color-psc {
  background: var(--bg-color-psc);
}

.bg-color-lct {
  background: var(--bg-color-lct);
  border: 1px solid var(--border-color-vegetag);
}

.bg-color-pol {
  background: var(--bg-color-pol);
}

.bg-color-flu {
  background: var(--bg-color-flu);
}

.bg-color-oth {
  background: var(--bg-color-oth);
}

.accent-color-border {
  border-color: var(--accent-color);
}

.logo_link {
  display: block;
  margin: 0 auto;
  width: calc(67 / var(--root-font-size) * 1rem); /*20px*/
}

.dropzone {
  border: 2px dashed #cccccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.image-preview {
  margin-top: 20px;
}

.image-preview img {
  max-width: 300px;
  max-height: 300px;
}
